---
import Copyright from './Copyright.astro';
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-grid">
    <div>
      <h2>KDZU</h2>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/tracks-we-love">Tracks We Love</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/about">About KDZU</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <h2>Projects</h2>
      <ul>
        <li><a href="/road-concert">Basslines from the Broken Earth</a></li>
        <!-- <li><a href="/discovering-the-rover">Discovering the Rover</a></li> -->
      </ul>
    </div>
    <div>
      <h2>Contact the Stations</h2>
      <p>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-right: 4px; margin-top: -3px;">
          <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z" fill="#ffffff"/>
        </svg>
        <a href="mailto:kdzu@kdzu.org">kdzu@kdzu.org</a>
      </p>
      <p>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-right: 4px;">
          <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="currentColor"/>
        </svg>
        <a href="https://instagram.com/kdzu_antisocial">@kdzu_antisocial</a>
      </p>
      <p>
        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 480 511.475" style="vertical-align: middle; margin-right: 4px; margin-top: -3px;">
          <path fill="#fff" fill-rule="nonzero" d="M478.065 113.237c-7.393-54.954-55.29-98.266-112.072-106.656C356.413 5.162 320.121 0 236.043 0h-.626c-84.099 0-102.141 5.162-111.72 6.581C68.498 14.738 18.089 53.653 5.859 109.26c-5.882 27.384-6.51 57.747-5.416 85.594C2 234.794 2.302 274.662 5.93 314.438a562.647 562.647 0 0013.09 78.437c11.625 47.653 58.686 87.311 104.793 103.494a281.07 281.07 0 00153.315 8.09 223.879 223.879 0 0016.578-4.533c12.368-3.929 26.855-8.323 37.507-16.043a1.198 1.198 0 00.486-.928v-38.544a1.12 1.12 0 00-.437-.879 1.134 1.134 0 00-.957-.215 424.764 424.764 0 01-99.49 11.626c-57.665 0-73.172-27.361-77.611-38.75a120.008 120.008 0 01-6.745-30.549 1.048 1.048 0 01.094-.51c.07-.161.178-.304.317-.415a1.094 1.094 0 01.982-.213 417.004 417.004 0 0097.865 11.624c7.927 0 15.834 0 23.761-.213 33.156-.928 68.105-2.625 100.722-8.997.816-.16 1.63-.301 2.327-.508 51.455-9.883 100.423-40.894 105.397-119.421.184-3.092.652-32.382.652-35.588.021-10.904 3.509-77.344-.511-118.166zm-82.796 61.744V311.51h-54.104V179.003c0-27.897-11.627-42.126-35.273-42.126-25.998 0-39.018 16.834-39.018 50.073v72.534h-53.776V186.95c0-33.239-13.045-50.073-39.04-50.073-23.507 0-35.249 14.229-35.249 42.126V311.51H84.73V174.981c0-27.896 7.121-50.059 21.366-66.488 14.693-16.388 33.969-24.805 57.893-24.805 27.692 0 48.618 10.648 62.569 31.919l13.464 22.597 13.485-22.597c13.95-21.271 34.876-31.919 62.52-31.919 23.903 0 43.177 8.417 57.919 24.805 14.231 16.413 21.337 38.576 21.323 66.488z"/>
        </svg>
        <a href="https://tldr.nettime.org/@KDZU">tldr.nettime.org/@KDZU</a>
      </p>
      <p>
        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 511.999 452.266" style="vertical-align: middle; margin-right: 4px; margin-top: -3px;">
          <path fill="#ffffff" fill-rule="nonzero" d="M110.985 30.442c58.695 44.217 121.837 133.856 145.013 181.961 23.176-48.105 86.322-137.744 145.016-181.961 42.361-31.897 110.985-56.584 110.985 21.96 0 15.681-8.962 131.776-14.223 150.628-18.272 65.516-84.873 82.228-144.112 72.116 103.55 17.68 129.889 76.238 73 134.8-108.04 111.223-155.288-27.905-167.385-63.554-3.489-10.262-2.991-10.498-6.561 0-12.098 35.649-59.342 174.777-167.382 63.554-56.89-58.562-30.551-117.12 72.999-134.8-59.239 10.112-125.84-6.6-144.112-72.116C8.962 184.178 0 68.083 0 52.402c0-78.544 68.633-53.857 110.985-21.96z"/>
        </svg>
        <a href="https://bsky.app/profile/kdzu.org">bsky.app/profile/kdzu.org</a>
      </p>
    </div>
    <div>
      <h2>Swinging the Hammer</h2>
      <nav>
        <ul>
          <li><a href="/blog">Breaking the Fourth Wall</a></li>
          <li><a href="https://prowrestling.fandom.com/wiki/Kayfabe" target="_blank" rel="noopener noreferrer">Kayfabe<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-left: 4px; margin-top: -4px;">
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 3h6v6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 14L21 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a></li>
          <li><a href="https://archive.org/download/139brechtashortorganumforthetheatre/139-Brecht_A_Short_Organum_for_the_Theatre.pdf" target="_blank" rel="noopener noreferrer">Organum (pdf)<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-left: 4px; margin-top: -4px;">
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 3h6v6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 14L21 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a></li>
        </ul>
        <p style="font-size: 0.9rem; font-style: italic; margin-top: 1rem;">"Art is not a mirror held up to reality but a hammer with which to shape it."</p>
        <p style="font-size: 0.9rem; margin-top: 0.5rem;">— Bertolt Brecht</p>
      </nav>
    </div>
    <div>
      <h2>Newsletter</h2>
      <p><a href="http://buttondown.com/kdzu">Sign up</a> for the V.O.I.C.E. of KDZU email newsletter! Entrust your precious email address to us and brace yourself for some super-strength weirdness and positivity!</p>
    </div>
    <div>
      <h2>Call the Red Phone</h2>
      <p>☎️ Give us a call at (775) 566-KDZU. Really. Call us! You can call 24 hours a day, 7 days a week. </p>
    </div>
  </div>
  <Copyright />
</footer>