---
import TopNavigation from './TopNavigation.astro';

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<header>
  <div class="header-content">
    <TopNavigation />
    <img
      src="https://static.kdzu.org/images/header-1440@2x.png"
      alt="KDZU Hero"
      width="1440"
      height="600"
      class="header-logo"
    />
    <h1>{title}</h1>
    {subtitle && <p>{subtitle}</p>}
  </div>
</header> 