---
import TopNavigation from './TopNavigation.astro';
---

<header>
  <div class="header-content">
    <TopNavigation />
    <div class="header-image-wrapper">
      <img class="header-logo" src="https://static.kdzu.org/images/kdzu-header-1440@2x.jpg" alt="KDZU Header" />
    </div>
    <div class="header-text">
      <div class="site-title">KDZU</div>
      <div class="site-subtitle">ANTENNAOBSCURA!</div>
    </div>
  </div>
</header> 