---
import { getCollection } from 'astro:content';
import TrackCard from './TrackCard.astro';

const recentTracks = await getCollection('tracks');
const sortedTracks = recentTracks
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6);
---

<section>
  <h2>🔥 Hot Tracks We Love</h2>
  <div class="tracks-list">
    {sortedTracks.map((track) => (
      <TrackCard track={track}>
        {track.body}
      </TrackCard>
    ))}
  </div>
</section> 