---
import { getCollection } from 'astro:content';
import EventCard from './EventCard.astro';

const events = await getCollection('events');
const sortedEvents = events.sort((a, b) => {
  return a.data.pubDate.valueOf() - b.data.pubDate.valueOf();
});
---

<section>
  <h2>Upcoming Events</h2>
  <ul class="calendar">
    {sortedEvents.map((event) => (
      <EventCard event={event} />
    ))}
  </ul>
</section> 