---
interface Props {
  title: string;
  description: string;
  buttonText: string;
  buttonLink: string;
}

const { title, description, buttonText, buttonLink } = Astro.props;
---

<div class="welcome">
  <h1>{title}</h1>
  <p>{description}</p>
  <a href={buttonLink} class="button">{buttonText}</a>
</div> 