---
date: "2024-07-26"
dayOfWeek: "Fri"
time: "9:00 AM to 9:00 PM"
title: "Road Concerts: Rim of the World"
link: "/events/rebel-beats"
subtitle: "Wormhole Transmission Site"
subtitleLink: "/events/rebel-beats"
location: "KDZU.org"
address1: "Highway 18"
address2: "Rim of the World"
addressLink: "https://maps.google.com/?q=Highway+18+Rim+of+the+World"
pubDate: 2024-07-26

---

Event description goes here. You can use markdown formatting. 