---
const isDev = import.meta.env.DEV;
const cssUrl = isDev ? '/styles/global.css' : 'https://static.kdzu.org/styles/global.css';
const isLinksPage = Astro.url.pathname === '/links';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KDZU!</title>
    <link rel="stylesheet" href={cssUrl} />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2025 KDZU</p>
    </footer>
  </body>
</html>